$headers-bg-classic: #{'#7C7C7C'};
$left-top-right-columns-classic: #{'#171c2c'};
$buttons-classic: #{'#2e323e'}; //the color of active selected bet event, or active button
$buttons-active-classic: #{'#a61f67'};
