$black-text: #{'#171717'};
$black-bg: #{'#000000'};
$white-text: #{'#ffffff'};
$white-bg: #{'#ffffff'};
$gray: #{'#cccccc'};
$bg-footer-slider: #{'#444844'};
$bg-footer: #{'#444844'};
$red-text: #{'#606163'};
$red-bg: #{'#606163'};
$shadow-color: #{'#222222'};
$header-text: #{'#646464'};
$border-color: #{'#828183'};
$header-nav-bg: #{'#818181'};
$dark-shadow-color: #{'#555555'};
$taupe-text-color: #{'#555555'};
$profile-nav-bg: #{'#555555'};
$bg-button: #{'#4c4d4d'} url(../images/bet-list-bg.png) no-repeat 93% 50%;
$bg-button-disable: #{'#7A7575'} url(../images/bet-list-bg.png) no-repeat 93% 50%;
$betslit-icon: url(../images/bet-list-bg.png) no-repeat 0 20%;
$bg-forms-cantain: rgba(255, 255, 255, 0.2);
$style-text: italic;
$lite-black-text: #{'#333333'};
$bold-text: bold;
$font-f: Arial, Helvetica, sans-serif;


$show-hide-header: block;
$header-margin: 41px 0 0; //for skins with header
$top-sport-title-lpos: 230px;
$logo-home-icon: none;
$bet-btn-bg: #{'#323332'};
$bet-btn-hover-bg: #{'#3c3f3c'};
$bet-btn-disabled-bg: #{'#AFADAD'};
$live-btn-bg: rgba(148, 244, 98, 0.63);
$prematch-btn-bg: rgba(255, 255, 255, 0.4);

@mixin bg-img{}
@mixin header-menu-bg{
	background: #424444;
	background: -moz-linear-gradient(#5d5f60, #242524);
    background: -webkit-linear-gradient(#5d5f60, #242524);
    background: -o-linear-gradient(#5d5f60, #242524);
    background: linear-gradient(#5d5f60, #242524);
	box-shadow: 0 1px 2px #aaa inset;
}
@mixin dropdown-menu-bg{
	background: #424444;
	background: -moz-linear-gradient(#5d5f60, #242524);
    background: -webkit-linear-gradient(#5d5f60, #242524);
    background: -o-linear-gradient(#5d5f60, #242524);
    background: linear-gradient(#5d5f60, #242524);
}
@mixin logo-position{
	background: none;
	width: 84px;
	height: 100px;
	padding: 0 5px;
}

@mixin logo-fixed{
	background: url(../images/home.png) no-repeat 51px 8px;
	width: 88px;
	height: 41px;	
}
@mixin logo-fixed-position{
	background: none;
	width: 68px;
	height: 41px;
	padding: 0 20px 0 0
}
@mixin bet-tooltip-visibility{	
}

/* ======================================================================== 
   === skin specific styles === */