$black-text: #{'#000000'};
$black-bg: #{'#000000'};
$white-text: #{'#ffffff'};
$white-bg: #{'#ffffff'};
$gray: #{'#cccccc'};
$bg-footer-slider: #{'#092B0E'};
$bg-footer: #{'#092B0E'};
$red-text: #{'#1BA44A'};
$red-bg: #{'#1BA44A'};
$shadow-color: #{'#222222'};
$header-text: #{'#FFCD00'};
$border-color: #{'#828183'};
$header-nav-bg: #{'#0D751B'};
$dark-shadow-color: #{'#555555'};
$taupe-text-color: #{'#555555'};
$profile-nav-bg: #{'#0D751B'};
$bg-button: #{'#0D751B'} url(../images/bet-list-bg.png) no-repeat 90% 50%;
$bg-button-disable: #{'#7A7575'} url(../images/bet-list-bg.png) no-repeat 90% 50%;
$betslit-icon: url(../images/bet-list-bg.png) no-repeat 0 20%;
$bg-forms-cantain: rgba(255, 255, 255, 0.2);
$style-text: italic;
$lite-black-text: #{'#333333'};
$bold-text: bold;
$font-f: Arial, Helvetica, sans-serif;



$show-hide-header: none;
$header-margin: 0; //for skins without header
$top-sport-title-lpos: 0;
$logo-home-icon: none;
$bet-btn-bg: #{'#1BA44A'};
$bet-btn-hover-bg: #{'#0D751B'};
$bet-btn-disabled-bg: #{'#AFADAD'};
$live-btn-bg: rgba(148, 244, 98, 0.63);
$prematch-btn-bg: rgba(255, 255, 255, 0.4);

@mixin bg-img{ background: #fff url(../images/bg-body.jpg) no-repeat 50% 170px fixed; background-size: cover;}
@mixin header-menu-bg{	
}
@mixin dropdown-menu-bg{	
}
@mixin logo-position{	
}
@mixin logo-fixed{
}
@mixin logo-fixed-position{	
}
@mixin bet-tooltip-visibility{
}

/* ======================================================================== 
   === skin specific styles === */
   
.button-bet button:hover {transition-duration: 300ms;}