.nav-news-sport ul li h3 {
  width: 109px;
  height: 72px;
  text-indent: -9999em; }

.sport-news h2 {
  background: #f0f0f0;
  height: 26px;
  text-indent: -9999em; }

.footer .footer-nav-b ul li a:hover {
  color: #fe7900; }

/* ======================================================================== 
   === skin specific styles === */
