<div class="new-default-popup-j"> <!--info warning error success feedback-->
    <div class="pp-table-j">
        <div class="table-row-j">
            <div class="table-cell-j">
                <div class="popup-wrapper-j">
                    <div class="pu-head-j">
                        <span>Information</span>
                        <a class="close-j" href="#"></a>
                    </div>
                    <div class="pu-contain-j">
                        <h3>Hey, watch out!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <!--<div class="pu-contain-j">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <label>
                            <p>Email</p>
                            <input type="text" placeholder="Enter your email address">
                        </label>
                        <label>
                            <p>Message</p>
                            <textarea placeholder="Enter your message"></textarea>
                        </label>
                    </div>-->
                    <div class="pu-button-wrap-j">
                        <button>ok, Got it</button>
                        <!--<button class="cancel-j">Cancel</button>
                        <button>Send</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>