@font-face {
    font-family: 'LatoRegular';
    src: url('../../fonts/arm/lato_vh-webfont.eot');
    src: url('../../fonts/arm/lato_vh-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/arm/lato_vh-webfont.woff') format('woff'),
    url('../../fonts/arm/lato_vh-webfont.ttf') format('truetype'),
    url('../../fonts/arm/lato_vh-webfont.svg#lato_vhregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLight';
    src: url('../../fonts/arm/lato_vh-light-webfont.eot');
    src: url('../../fonts/arm/lato_vh-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/arm/lato_vh-light-webfont.woff') format('woff'),
    url('../../fonts/arm/lato_vh-light-webfont.ttf') format('truetype'),
    url('../../fonts/arm/lato_vh-light-webfont.svg#lato_vhlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: url('../../fonts/arm/lato_vh-bold-webfont.eot');
    src: url('../../fonts/arm/lato_vh-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/arm/lato_vh-bold-webfont.woff') format('woff'),
    url('../../fonts/arm/lato_vh-bold-webfont.ttf') format('truetype'),
    url('../../fonts/arm/lato_vh-bold-webfont.svg#lato_vhlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoThin';
    src: url('../../fonts/eng-rus/Lato-Thin.eot');
    src: url('../../fonts/eng-rus/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/eng-rus/Lato-Thin.woff2') format('woff2'),
    url('../../fonts/eng-rus/Lato-Thin.woff') format('woff'),
    url('../../fonts/eng-rus/Lato-Thin.ttf') format('truetype'),
    url('../../fonts/eng-rus/Lato-Thin.svg#latothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../../fonts/eng-rus/NotoSansRegular.eot');
    src: url('../../fonts/eng-rus/NotoSansRegular.eot') format('embedded-opentype'),
    url('../../fonts/eng-rus/NotoSansRegular.woff2') format('woff2'),
    url('../../fonts/eng-rus/NotoSansRegular.woff') format('woff'),
    url('../../fonts/eng-rus/NotoSansRegular.ttf') format('truetype'),
    url('../../fonts/eng-rus/NotoSansRegular.svg#NotoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../../fonts/eng-rus/NotoSansBold.eot');
    src: url('../../fonts/eng-rus/NotoSansBold.eot') format('embedded-opentype'),
    url('../../fonts/eng-rus/NotoSansBold.woff2') format('woff2'),
    url('../../fonts/eng-rus/NotoSansBold.woff') format('woff'),
    url('../../fonts/eng-rus/NotoSansBold.ttf') format('truetype'),
    url('../../fonts/eng-rus/NotoSansBold.svg#NotoSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../../fonts/eng-rus/NotoSansItalic.eot');
    src: url('../../fonts/eng-rus/NotoSansItalic.eot') format('embedded-opentype'),
    url('../../fonts/eng-rus/NotoSansItalic.woff2') format('woff2'),
    url('../../fonts/eng-rus/NotoSansItalic.woff') format('woff'),
    url('../../fonts/eng-rus/NotoSansItalic.ttf') format('truetype'),
    url('../../fonts/eng-rus/NotoSansItalic.svg#NotoSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NotoSans2';
    src: url('../../fonts/arm/lato_vh-webfont.eot');
    src: url('../../fonts/arm/lato_vh-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/arm/lato_vh-webfont.woff') format('woff'),
    url('../../fonts/arm/lato_vh-webfont.ttf') format('truetype'),
    url('../../fonts/arm/lato_vh-webfont.svg#lato_vhregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans2';
    src: url('../../fonts/arm/lato_vh-bold-webfont.eot');
    src: url('../../fonts/arm/lato_vh-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/arm/lato_vh-bold-webfont.woff') format('woff'),
    url('../../fonts/arm/lato_vh-bold-webfont.ttf') format('truetype'),
    url('../../fonts/arm/lato_vh-bold-webfont.svg#lato_vhlight') format('svg');
    font-weight: bold;
    font-style: normal;
}

