<div ng-controller="pagesCtrl" ng-init="checkIfEnabled('backgammon'); setTitle(('Backgammon'|translate))">
    <div ng-if="!globalConfig.backgammon.redirectOnGame">
        <div ng-show="!showNestedFrame">

            <!-- NEW BACKGAMMON PAGE -->
            <div ng-if="conf.showNewBackgammonPage">
                <div ng-init="loadPage(WPConfig.backgammon.mainPageSlugs[env.lang], true)">
                    <div class="j-float-main-wrap backgammon-j parallax-slider-j" ng-if="pages" ng-init="initProductBanners('backgammon')">
                        <div class="j-float-100-rel">
                            <casino-game-slider product-slides="productSlides" page-name = "Backgammon"></casino-game-slider>
                            <div class="j-resize-950-1280 j-dot-slider-pagination-j-resize">
                                <div id="backgammon-buttons" class="btn-cont-j">
                                    <button ng-click="openNestedFrame();" trans>Play now</button>
                                    <button ng-click="toggleDownloadLink('backgammon-buttons')" ng-hide="showDownloadLinks" class="skin-j" trans>Download</button>
                                </div>
                                <div ng-init="winnersList = getPageBySlug(pages, 'backgammon-winners').content" ng-show="winnersList">
                                    <div class="topwinners-abs-bot-j" ng-bind-html="winnersList"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="j-float-main-wrap backgammon-j" ng-show="showDownloadLinks">
                    <div class="download-bg-sect-j">
                        <ul class="j-resize-950-1280">
                            <li>
                                <div class="first-row-fake-j">
                                    <i class="os-icon-j windows"></i>
                                    <h5 trans>Windows</h5>
                                </div>
                                <div class="second-row-fake-j">
                                    <p class="reqs-j" trans>backgammon_requirements_windows</p>
                                    <p trans>backgammon_download_description_windows</p>
                                </div>
                                <a class="j-os-client-download" ng-href="{{globalConfig.backgammon.downloadLink.windows}}" trans>Download</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="j-float-main-wrap backgammon-j">
                    <div class="pinkbow-j">
                        <h3 trans >Best Promotions</h3>
                        <div class="f-tab-menu-j">
                            <div class="j-resize-950-1280" ng-init="gePageBanners('backgammon')">
                                <ul>
                                    <li ng-repeat="banner in backgammonTopBanners">
                                        <a ng-href="{{banner.link}}">
                                            <span class="image-of-promo-container-new-j">
                                                <img ng-src="{{banner.imageurl}}" alt="{{banner.title}}"/>
                                            </span>
                                            <p class="absmidd-j">
                                                {{banner.title}}
                                                <span>{{banner.alt}}</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="j-float-main-wrap backgammon-j tabel-cont-bg-j"  ng-init="loadPages('backgammon');getCustomPage('backgammon','mainPageHeaderSlugs','headerContentHTML');setDefaultDownloadOS('backgammon');" >
                    <div class="tournament-list-j">
                        <div class="table-information" ng-show="backgammonPagesLoaded" ng-bind-html="selectedBackgammonPage.content"></div>
                    </div>
                </div>
            </div>

            <!-- OLD BACKGAMMON PAGE -->
            <div ng-if="!conf.showNewBackgammonPage" ng-init="loadPages('backgammon');getCustomPage('backgammon','mainPageHeaderSlugs','headerContentHTML');setDefaultDownloadOS('backgammon');" class="poker-background new" ng-class="'poker-'+selectedBackgammonPage.slug" watch-resize>
                <div class="menu-casino menu-poker menu-backgammon">
                    <div class="menu-games">
                        <div class="contain-menu-games">
                            <ul class="poker-menu">
                                <div class="contein-nav-g">
                                    <!--<li ng-repeat="page in backgammonPages" ng-class="{'active-game-casino': page.id === selectedBackgammonPage.id}" class="poker {{page.slug}}">-->
                                    <!--<a ng-click="selectPage(page, 'backgammon'); $parent.showDownloadLinks = false" id="backgammonpage{{page.slug}}"><span></span>{{page.title}}</a>-->
                                    <!--</li>-->
                                </div>
                            </ul>

                            <!--<div class="download-button-info"><button ng-click="toggleDownloadLink('choose-your-os')" trans>Download</button></div>-->
                            <!--<div class="download-button-info play"><a ng-href="{{globalConfig.backgammon.instantPlayLink}}" target="_blank"><button trans>Play now</button></a></div>-->
                        </div>

                    </div>
                </div>

                <div class="country-b" ng-show="selectedBackgammonPage.children.length">
                    <div class="country-block-contain">
                        <ul class="countrylist">
                            <div class="contaien-country">
                                <li ng-repeat="subpage in selectedBackgammonPage.children">
                                    <a ng-click="$parent.selectedBackgammonPage.selectedBackgammonSubpage = subpage" ng-class="{'active': $parent.selectedBackgammonPage.selectedBackgammonSubpage.id === subpage.id}">{{ subpage.title }}</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <!--Menu games end-->

                <!--big-slider
                <div ng-show="selectedBackgammonPage.slug == 'home'" ng-init="gePageBanners('backgammon');">
                    <vbet-big-slider ng-if="backgammonTopBanners" images="backgammonTopBanners" link-click-handler="checkForPageDeepLinkFunc('backgammon')"> </vbet-big-slider>
                </div>
                big-slider END-->

                <div class="contain-casino poker big-b">
                    <div class="centr-block-baners-s" ng-hide="customPageLoading">
                        <div class="screens-bg-f"></div>
                        <div class="text-block-change-b" ng-hide="headerContentHTML">
                            <p><span trans>Backgammon</span> <br><a trans>Use your</a> <b trans>skills</b></p>
                        </div>
                        <div class="text-block-change-b" ng-show="headerContentHTML" ng-bind-html="headerContentHTML"></div>
                        <div class="buttons-reg-s">
                            <div class="download-button-info play">
                                <a ng-click="openNestedFrame();"><button trans>Play now!</button></a>
                                <!-- <a target="{{globalConfig.backgammon.instantPlayTarget}}" ng-href="{{globalConfig.backgammon.instantPlayLink}}"> <button trans>Play now!</button></a> -->
                            </div>
                            <div class="download-button-info">
                                <button ng-click="toggleDownloadLink('choose-your-os')" trans>Download</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!--mini-slider-->

                <!--mini-slider END-->


                <!--mini title-->
                <!--<div ng-show="showDownloadLinks" class="choose-block-b"><h1 trans id="choose-your-os">choose your os</h1></div>-->
                <!--mini title-->
                <!--Sub menu-->
                <div class="sub-menu-poker" ng-show="showDownloadLinks && selectedOS">
                    <ul>
                        <!--<li ng-class="{'active': selectedOS =='All'}">      <a ng-click="selectedOS = 'All'" trans>All</a></li>-->
                        <li ng-show="globalConfig.backgammon.downloadLink.windows" ng-class="{'active': selectedOS=='Windows'}"><a ng-click="selectedOS = 'Windows'">Windows</a></li>
                        <!--<li ng-show="globalConfig.backgammon.downloadLink.mac" ng-class="{'active': selectedOS=='MacOS'}">     <a ng-click="selectedOS = 'MacOS'">Mac OS</a></li>-->
                        <!--<li ng-show="globalConfig.backgammon.downloadLink.linux" ng-class="{'active': selectedOS=='UNIX' || selectedOS=='Linux'}"><a ng-click="selectedOS = 'Linux'">Linux</a></li>-->
                        <!--<li ng-show="globalConfig.backgammon.downloadLink.android" ng-class="{'active': selectedOS=='android'}"><a ng-click="selectedOS = 'android'">Android</a></li>-->
                    </ul>
                </div>

                <!--Sub menu-->

                <div class="download-links" ng-show="showDownloadLinks" ng-class="{'all-oses':selectedOS =='All'}" ng-init="selectedOS='Windows'">
                    <h2 ng-show="selectedOS =='All'"><span trans>All downloads</span></h2>
                    <ul>
                        <li ng-show="(selectedOS =='All' && globalConfig.backgammon.downloadLink.windows) ||  selectedOS =='Windows' || selectedOS === null">
                            <div class="title-link-d windows">
                                <h3 trans>Windows</h3>
                                <span trans>backgammon_requirements_windows</span>
                            </div>
                            <p trans>backgammon_download_description_windows</p>

                            <div class="link-sec-download">
                                <a ng-href="{{globalConfig.backgammon.downloadLink.windows}}" trans>Download</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <vbet-loader class="page-center" ng-show="!backgammonPagesLoaded"></vbet-loader>

                <div class="mein-page-contain poker" ng-show="!showDownloadLinks">
                    <div class="page-main"></div>
                    <div class="table-information" ng-show="backgammonPagesLoaded" ng-bind-html="selectedBackgammonPage.content"></div>
                </div>
            </div>


        </div>
        <div ng-if="showNestedFrame" ng-include="getTemplate('templates/specialgames/skillgame.html')"></div>
    </div>

    <div ng-if="globalConfig.backgammon.redirectOnGame" ng-include="getTemplate('templates/specialgames/main.html')"></div>

</div>