$black-text: #{'#000000'};
$black-bg: #{'#000000'};
$white-text: #{'#ffffff'};
$white-bg: #{'#ffffff'};
$gray: #{'#cccccc'};
$bg-footer-slider: #{'#03133C'} url(../images/bg-footer.png) repeat 0 0;
$red-text: #{'#008BDD'};
$red-bg: #{'#008BDD'};
$shadow-color: #{'#222222'};
$header-text: #{'#1572a9'};
$border-color: #{'#6A5680'};
$header-nav-bg: #{'#4A43A6'};
$dark-shadow-color: #{'#555555'};
$taupe-text-color: #{'#555555'};
$profile-nav-bg: #{'#555555'};
$bg-button: #{'#008BDD'} url(../images/bet-list-bg.png) no-repeat 90% 50%;
$bg-button-disable: #{'#434E5E'} url(../images/bet-list-bg.png) no-repeat 90% 50%;
$betslit-icon: url(../images/bet-list-bg.png) no-repeat 0 20%;
$bg-forms-cantain: rgba(171, 183, 207, 0.2);
$style-text: italic;
$lite-black-text: #{'#333333'};
$bold-text: bold;
$font-f: Arial, Helvetica, sans-serif;